<{if $block.is_login == 1}>
<div>
</div><img src="<{$xoops_url}>/modules/charinavi/images/loadPicture.php?id=<{$block.picture_id}>&x=70&y=70" />
<{$block.name}>
</div>

<div><{$block.amount}> <{$block.language.label_amount}></div>
<div>[<a href="javascript:openBuying();"><{$block.language.label_buying}></a>]</div>

<div id="pwc_exchangewindow" style="display:none;">
<h2><{$block.language.exchange_title}></h2>
<{$block.language.exchange_description}>

<form id="exchangeform" name="exchange" method="POST">
<input type="text" id="amount" name="amount" value="1000" /><{$block.language.exchange_msg_form}>
<input type="hidden" name="transid" value="<{$block.trans_id}>" />
<input type="hidden" id="exchangeform_url" name="url" value="" />
</form>
<div id="errormsg"></div>
</div> <!-- end id=pwc_exchangewindow //-->

<script type="text/javascript">
function checkForm(){
	var a = $('amount').value;
	if(a.match(/^[0-9]+$/)){
		a = parseInt(a);
		if(a > 0){
			return true;
		}else{
			$("errormsg").innerHTML = "<{$block.language.label_interror}>";
			return false;
		}
	}else{
		$("errormsg").innerHTML = "<{$block.language.label_stringerror}>";
		return false;
	}
	return false;
}
function openBuying(){
	Dialog.confirm($('pwc_exchangewindow').innerHTML, 
		{top: 10, width:400, height:300, className: "alphacube", okLabel: "<{$block.language.label_buying_do}>", cancelLabel:"Cancel",
		onOk: function(win){
			var res = checkForm();
			if(res){
				$("exchangeform_url").value = location.href;
				$("exchangeform").action = "<{$xoops_url}>/modules/charinavi/svr/exchange.php";
				$("exchangeform").submit();
			}else{
				Windows.focusedWindow.updateHeight();
				new Effect.Shake(Windows.focusedWindow.getId());
				return false;
			}
		}});
}
</script>
<{/if}>
