<{if $block.mode == "volunteer"}>

<table cellspacing="0">
	<tr><td id="usermenu">
		<a href="<{$xoops_url}>/modules/charinavi/exchange.php"><{$block.language.menu_exchange}></a>
		<a href="<{$xoops_url}>/modules/charinavi/donation.php"><{$block.language.menu_donation}></a>
		<a href="<{$xoops_url}>/modules/charinavi/personal.php"><{$block.language.menu_personal}></a>
		<{if $block.is_admin == 1}><a href="<{$xoops_url}>/admin.php"><{$block.language.menu_admin}></a><{/if}>
	</td></tr>
</table>

<{elseif $block.mode == "common"}>

<table cellspacing="0">
	<tr><td id="usermenu">
		<a href="<{$xoops_url}>/modules/charinavi/exchange.php"><{$block.language.menu_exchange}></a>
		<a href="<{$xoops_url}>/modules/charinavi/donation.php"><{$block.language.menu_donation}></a>
		<a href="<{$xoops_url}>/modules/charinavi/register.php"><{$block.language.menu_register}></a>
		<a href="<{$xoops_url}>/modules/charinavi/personal.php"><{$block.language.menu_personal}></a>
		<{if $block.is_admin == 1}><a href="<{$xoops_url}>/admin.php"><{$block.language.menu_admin}></a><{/if}>
	</td></tr>
</table>

<{else}>

You don't login.

<{/if}>