<h2><{$register_title}></h2>
<form name="register" method="POST" action="registered.php">
<table>
<tr><th><{$name_title}></th><td><input type="text" name="name" value="" /></td></tr>
<tr><th><{$post_title}></th><td><input type="text" name="post" value="" /></td></tr>
<tr><th><{$address_title}></th><td><input type="text" name="address" value="" /></td></tr>
<tr><th><{$phone_title}></th><td><input type="text" name="phone" value="" /></td></tr>
<tr><th><{$fax_title}></th><td><input type="text" name="fax" value="" /></td></tr>
<tr><th><{$activity_title}></th><td><input type="text" name="description" value="" /></td></tr>
</table>
<input type="submit" name="submit" value="<{$submit}>" />
</form>